<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Staff Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Điểm Danh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/staff' ? 'active' : '' %>" href="/staff">Thông Tin Nhân Viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/work' ? 'active' : '' %>" href="/work">Thông Tin Giờ Làm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/covid' ? 'active' : '' %>" href="/covid">Thông Tin Covid</a>
                </li>
            </ul>
        </div>
    </div>
</nav>