.img-avatar {
    border-radius: 0.375rem;
}

.red {
    color: red;
}

.green {
    color: green;
}


/* .btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: white;
} */


/* @media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }
    #side-menu-toggle {
        display: none;
    }
} */

@media (max-width: 768px) {
    .sm-text {
        font-size: 12px;
    }
}